doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', type='text/css', href='/css/login.css')
  title login
#login
  input#input(type='email', name ='email' )
  br
  br
  input#input(type='password', name ='password')
  br
  button login
  br
  br
  a(href='/register') зарегаться
script(src='/js/login.js')
