doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', type='text/css', href='/css/register.css')
  title Регистрация
#register
  input#input(type='text', name='name', placeholder='введите имя')
  br
  input#input(type='text', name='surname', placeholder='введите фамилию')
  br
  input#input(type='email', name='email', placeholder='введите email')
  br
  input#input(type='password', name='password', placeholder='введите пароль')
  br
  button#button кнопка
  br
  a(href='/login') login
script(src='/js/register.js')